<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="loggedIn">
    <ion-menu contentId="main-content" type="overlay" menuId="custom">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Savage Intellectual</ion-list-header>
          <ion-note><em>Daily, disciplined, growth.</em></ion-note>
          <div >
          <ion-menu-toggle autoHide=false *ngFor="let p of appPages; let i = index">
            <ion-item (click)="menuClicked(p, i);" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="routeUrl === p.url">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet id="main-content" *ngIf="!loggedIn"></ion-router-outlet>
</ion-app>
