<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Disciplines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <ion-list>
      <ion-item *ngFor="let discipline of statusDisciplines">
        <ion-label [class.line-through]="discipline.complete">{{discipline.name}}</ion-label>
        <ion-checkbox [(ngModel)]="discipline.complete" (ngModelChange)="valueChanged(discipline)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <button (click)="saveStatus()">test</button>

</ion-content>